extends base

block content
  .success-detail
    .success-detail__header
      .icon-wrapper
        a(href=`/${success.user._id}/user-profile`) 
          svg.success-detail-icon 
            use(xlink:href="../img/icons.svg#icon-user")

        if owner
          a(id="edit-success" href=`/edit-success/${success._id}`) 
            svg.success-detail-icon 
              use(xlink:href="../img/icons.svg#icon-document-edit1")
        
        a(href=`/${success.user._id}/user-success-list`) 
          svg.success-detail-icon 
            use(xlink:href="../img/icons.svg#icon-list-ul-solid")

      .success-header-info
        .success-header-info__title= success.header
        .success-header-info__user-date
            .success-date= moment(success.date).format("DD.MM.YYYY")
            a.success-user(href=`/${success.user._id}/user-profile`)= `${success.user.name} ${success.user.surname}` 
    
    .success-detail__detail= success.detail