extends base

block content
  .detail-wrapper
    .detail-header
      .header-info
        h1.page-header= success.header
        .header-info__sub-title
          span= moment(success.date).format("DD.MM.YYYY")
          a.user(href=`/${success.user._id}/user-profile`)= `${success.user.name} ${success.user.surname}` 

      .icon-group
        a(href=`/${success.user._id}/user-profile`) 
          svg.icon-group__icon
            use(xlink:href="../img/icons.svg#icon-user")

        if owner
          a(id="edit-success" href=`/edit-success/${success._id}`) 
            svg.icon-group__icon
              use(xlink:href="../img/icons.svg#icon-document-edit1")
        
        a(href=`/${success.user._id}/user-success-list`) 
          svg.icon-group__icon
            use(xlink:href="../img/icons.svg#icon-list-ul-solid")
      
    .detail-text= success.detail