extends base

block content
  .detail-wrapper
    .detail-header
      .header-info
        h1.page-header= `${userInfo.name} ${userInfo.surname} Profile Page`
        .header-info__sub-title
          span= userInfo.email

      .icon-group
        a(href=`/${userInfo._id}/user-success-list`) 
          svg.icon-group__icon
            use(xlink:href="../img/icons.svg#icon-list-ul-solid")

    .detail-text= userInfo.about
