extends base

block content
  h1.page-header= title
  p= user._id 
  p= user.name 
  p= user.surname 
  p= user.email 
  p= user.theme
  p= user.language

  div(class="flex flex-row gap-6 mt-6 justify-evenly")
    a(href=`/${user._id}/user-success-list`) 
      svg.page-icon
        use(xlink:href="../img/icons.svg#icon-list-ul-solid")

    svg.page-icon(id="logout")
      use(xlink:href="../img/icons.svg#icon-log-out")



