extends base

block content
  h1.page-header= title
  p= user._id 
  p= user.name 
  p= user.surname 
  p= user.email 
  p= user.theme

  div(class="flex flex-row gap-6 mt-6 justify-between")
    a(href=`/${user._id}/user-success-list`) 
      svg.page-icon
        use(xlink:href="../img/icons.svg#icon-list-ul-solid")

    svg.page-icon(id="logout")
      use(xlink:href="../img/icons.svg#icon-log-out")

    svg.page-icon(id="test-user-logged-in")
      use(xlink:href="../img/icons.svg#icon-circle-plus-solid")

    svg.page-icon(id="light-theme")
      use(xlink:href="../img/icons.svg#icon-sun-solid")
    
    svg.page-icon(id="dark-theme")
      use(xlink:href="../img/icons.svg#icon-moon-solid")

    svg.page-icon(id="system-theme")
      use(xlink:href="../img/icons.svg#icon-gears")